$color_white:			#ffffff;
$color_blue: 			#06DCF9;
$color_blue_dark:		#07A7F7;
$color_grey:			#F2EFEA;
$color_grey_dark:		#71706E;

$color_body_content: 	$color_grey_dark;
$color_body_background: $color_grey;

$color_header_background:	$color_blue;

$navi_link_color: 			$color_white;

$social_media_link_content: $color_white;

$color_footer_background:	$color_white;
$color_footer_content: 		$color_blue_dark;
